# Configuration for admin-utils

admin_svn_repos=/var/lib/svn/repos

admin_svn_user=admin

admin_svn_owner=www-data
admin_svn_group=www-data

admin_svn_url_redmine=/redmine
admin_svn_url_jira=https://example.com/jira

admin_svn_authz=/var/lib/svn/conf/authz
admin_svn_authz_tmpl=/var/lib/svn/conf/authz.tmpl
admin_svn_authz_dir=/var/lib/svn/conf/authz.d

admin_svn_crowd_url=https://example.com/crowd
admin_svn_crowd_name=svn
admin_svn_crowd_passwd=

admin_svn_crowd_script=/opt/bin/generate-authz-svn-access-file.py

admin_svn_backup_targets=$admin_svn_repos/*
admin_svn_backup_dir=/var/backups/%Y/%m/%d
admin_svn_backup_prefix=svn-

admin_git_repos=/var/lib/git/repos

admin_git_user=admin
admin_git_mail="admin@example.com"

admin_git_owner=www-data
admin_git_group=www-data

admin_git_url_redmine=https://example.com/redmine
admin_git_url_jira=https://example.com/jira

admin_git_backup_targets=$admin_git_repos/*
admin_git_backup_dir=/var/backups/%Y/%m/%d
admin_git_backup_prefix=git-

admin_bitbucket_url=https://exmaple.com/bitbucket
