# Crontab for admin-utils
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
# 0 5 * * * root admin-svn-backup
# 0 5 * * * root admin-git-backup
# 0 5 * * * root admin-mysql-backup
# 0 5 * * * root admin-psql-backup
