SYS_DISKCK_LIMIT=85
SYS_DISKCK_TARGETS="/var /tmp"

SVN_REPOS=/var/lib/svn/repos

SVN_USER=admin

SVN_OWNER=www-data
SVN_GROUP=www-data

SVN_URL_REDMINE=/redmine
SVN_URL_JIRA=https://example.com/jira

SVN_AUTHZ=/var/lib/svn/conf/authz
SVN_AUTHZ_TMPL=/var/lib/svn/conf/authz.tmpl
SVN_AUTHZ_DIR=/var/lib/svn/conf/authz.d

SVN_CROWD_URL=https://example.com:8095/crowd
SVN_CROWD_NAME=svn
SVN_CROWD_PASSWD=

SVN_CROWD_SCRIPT=/opt/bin/generate-authz-svn-access-file.py

SVN_BACKUP_TARGETS=$SVN_REPOS/*
SVN_BACKUP_DIR=/var/backups
SVN_BACKUP_PREFIX=svn-

GIT_REPOS=/var/lib/git/repos

GIT_USER=admin
GIT_MAIL="admin@example.com"

GIT_OWNER=www-data
GIT_GROUP=www-data

GIT_URL_REDMINE=https://example.com/redmine
GIT_URL_JIRA=https://example.com/jira

GIT_BACKUP_TARGETS=$GIT_REPOS/*
GIT_BACKUP_DIR=/var/backups
GIT_BACKUP_PREFIX=git-
